{%extends 'base.html'%} {% load bootstrap3 %} {% block content %} {{ block.super}}
<style media="screen">
header {
background: url('https://s-media-cache-ak0.pinimg.com/originals/ba/5d/ef/ba5defde08ddb7170affd864e24af931.jpg');
background-repeat: no-repeat;
background-size: cover;
width: 97.5%;
height: 200px;
background-color: white;
color: #fff;
/*text-align: center;*/
text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}
img{
  border: 0;
margin-right: 70%;
}
</style>


  <header style="">
    <div class="row">
        <div class="col-md-4">
      <a href="http://api.openweathermap.org/data/2.5/weather?q=Nairobi&mode=html&appid=a094e606c374990d843e2746ea3f8ecb" target="_blank"><img src="http://img2.3png.com/b83657a7f5621b20c574c55ad4dc70734a30.png" alt="" height="200px" width="200px" ></a>
      <a href="http://api.openweathermap.org/data/2.5/weather?q=Nairobi&mode=html&appid=a094e606c374990d843e2746ea3f8ecb" target="_blank"><p>click to view weather</p></a>
      </div>
      <div class="col-md-1">
      </div>
    </div>
  </header>
<div id="map"></div>
<br>
{%include 'footer.html'%}

{%endblock%}
